.signup-form form input {
    border: 2.4px solid lightgray;
    padding: 8px 15px;
    width: 320px;
    border-radius: 6px;
}


.prediction-page {
    background-color: rgb(118, 207, 207);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.insta {
    height: 400px;
    width: 40%;
    /* background: pink; */
}

.twitter {
    height: 400px;
    width: 40%;
    /* background-color: brown; */
}

.twitter img {
    width: 100%;
    border-radius: 12px;
}

.insta img {
    width: 90%;
    border-radius: 12px;
}

/* Tweet Page */
.tweet-status {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.tweet-status img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2000;
}

.tweet-status form {
    height: auto;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 60px 20px;
    margin: 0;
    /* background-color: rgba(0,0,0,0.5); */
}
.tweet-status .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background-color: rgba(0,0,0,0.4);
}
.tweet-status textarea {
    width: 90%;
    height: 300px;
    padding: 12px 30px;
    background-color: rgba(26, 37, 41, 0.5);
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 660;
}

.tweet-status ::placeholder {
    color: rgb(212, 208, 208);
}

.btn {
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 30px;
    margin: 20px 0;
}

/* Insta Page */
.insta-page {
    /* background-color: rgb(118, 207, 207); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.insta-page-bg {
    position: absolute;
    top: 0;
    z-index: -34567;
    width: 100%;
    height: 100%;
}

.insta-page form {
    height: auto;
    width: 70%;
    margin: 0px auto;
    padding: 60px 20px;
    background-color: rgba(32, 68, 69, 0.5);
    border-radius: 12px;
}

.insta-page .form-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.insta-page form input {
    padding: 8px 14px;
    /* width: 100%; */
    width: 450px;
    border: 3px solid lightgray;
    outline: none;
    font-size: 19px;
    margin: 8px 0;
    border-radius: 6px;

}

#insta-head {
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background: linear-gradient(to right, #ff6b08, #be25af);
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    padding: 10px 30px;
    margin-bottom: 30px;
}

.insta-page .result {
    text-align: center;
}

.insta-page .result img {
    width: 200px;
}


/* Sign In form */

.signin-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 207, 207);
}

.signin-page form {
    width: 80%;
    padding: 10px 8%;
    background-color: white;
    display: flex;
    border-radius: 8px;
    align-items: center;
}

.signin-form {
    width: 60%;
    /* border: 2px solid red; */
}

.signin-form input {
    width: 80%;
    border: 2.4px solid lightgray;
    padding: 8px 12px;
    border-radius: 6px;

}

.signin-page form img {
    width: 100%;
    /* border: 2px solid red; */
}

.m-btn {
    width: 50%;
    padding: 8px 20px;
    background-color: blue;
    font-weight: 600;
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    margin: 0px 20%;
}

.signin-head {
    padding: 20px;
    margin: 0 24%;
}

.acc-text {
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 700;
}

#tweet-result {
    background: linear-gradient(to right, rgb(12, 94, 121), rgb(189, 33, 161));
    margin: 0;
    /* border: 5px rgb(10, 38, 217) solid; */
    visibility: hidden;
    /* animation: ani 2s;
    animation-iteration-count: 200; */
    /* transition: all 2s 200; */
}

@keyframes ani {

    25% {
        border: 5px solid blue;
    }

    50% {
        border: 5px solid green;
    }

    75% {
        border: 5px solid gold;
    }

}